/* Apply styles to the body element for the background image */
body {
  background-image: url("img/bg.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Arial, sans-serif; /* Choose your preferred font-family */
  margin: 0;
  padding: 50px 50px;
  color: #333; /* Default text color for the entire page */
}

/* Style the header */
header {
  background-color: rgb(14, 226, 250); /* Semi-transparent white background */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #333; /* Text color */
}

/* Style the main content section */
main {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  color: #333; /* Text color */
}

/* Style the text input section */
#symptom-input {
  text-align: center;
}

textarea {
  width: 100%;
  height: 250px; /* Adjust the height to your preference */
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button#check-symptoms {
  background-color: #0074cc; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#check-symptoms:hover {
  background-color: #11e26f; /* Button background color on hover */
}

/* Style the result section */
#results {
  text-align: center;
  margin-top: 20px;
}

#results h2 {
  color: #333;
}

#test-recommendation,
#cure-recommendation {
  font-style: italic;
  color: #b01414;
}

/* Add additional styles as needed */
